%a.header HW
%div.chapter
  %p
    When starting to feel some signs of RSI and after breaking my right hand I started looking into ergonomic keyboards. Now I use a <a href="http://www.kinesis-ergo.com/shop/advantage-pro-for-pc-mac/">Kinesis Advantage</a>at work and a <a href="https://www.massdrop.com/buy/infinity-ergodox?mode=guest_open">massdropped</a> an <a href="http://ergodox.org/">ergodox</a> keyboard kit for use at home. The assembly of the ergodox was <a href="https://twitter.com/sebabenz/status/499243285173792768">fun</a>, although I never used a soldering iron to that scale before.
%a.header SW
%div.chapter
  %p
    Additionally to this I decided to switch from qwertz to <a href="http://www.neo-layout.org">neo-2</a>. This was one of the most painful experiences of my life. Going from 80wpm to 0 is really ugly. After a while it got better, but still I am not at my old speed. Good thing is, that I can switch between neo on an ergonomic keyboard and qwertz on a regular keyboard.
  %p
    At first I thought it would be great to have the programmability of the kinesis and the ergodox in place to support the neo layout. After some experimenting I arrived now at a solution, where the ergodox <a href="https://github.com/gizmomogwai/tmk_keyboard">mimics</a> the kinesis as far as possible, the rest is done by keyboard layouts in linux + some xkbcomp tricks.
%a.header Todo
%div.chapter
  %p
    I tried to build an ergodox stand from styrodur, but I would really love to get something <a href="https://github.com/bchociej/ergodox-stand">3d<a/> printed!