#!/usr/bin/env ruby


# put files through filters depending on the extensions
# e.g. bla.erubis.sass will be first filtered by erubis
# and then sass. haml gets a special handling and is the
# only file text-file which is also layouted
compile '*' do
  if not item.binary?

    # puts "compile #{item.identifier} #{item[:extension]}"
    item[:extension].split('.').each do |e|
      if e == 'haml'
        filter :haml, :format => :html5
        layout '/default/'
        filter :relativize_paths, :type => :html
      else
        filter e.to_sym
      end
    end
  end
end

route '*' do
  if item[:extension].end_with?('sass')
    item.identifier.chop + '.css'
  elsif item[:extension] == 'haml'
    item.identifier + 'index.html'
  elsif item.binary?
    item.identifier.chop + '.' + item[:extension]
  else
    item.identifier + 'index.html'
  end
end

layout '*', :haml, :format => :html5
