#!/usr/bin/env ruby
require 'haml'
require 'sass'

compile '/assets/styles/*' do
  filter :sass
  filter :relativize_paths, :type => :css
end

compile '*' do
  puts item.identifier
  filter :haml unless item.binary?
  layout 'default' unless item.binary?
  filter :relativize_paths, :type => :html unless item.binary?
end

route '/assets/styles/*' do
  item.identifier.gsub(/\/$/, '') + '.css'
end

route '*screenshot*' do
  item.identifier.chop + '.' + item[:extension]
end

route '*' do
  item.identifier + 'index.html'
end


layout '*', :haml
