*
  padding: 0px
  margin: 0px
  border: 0px

!box_background = rgba(50, 50, 50, 0.5)
!navi_focused = rgba(50, 50, 50, 0.5)
!navi_selected = rgba(50, 50, 50, 0.8)
!navi_unselected = rgba(50, 50, 50, 0.5)

body
  background-image: url(/images/background.jpg)

#all
  width: 750px
  min-height: 300px
  margin-left: auto
  margin-right: auto

=border
  border: 1px solid
  border-radius: 10px

#nav
  background-color= !box_background
  padding-top: 1em
  padding-bottom: 1em
  +border
  a:hover
    color: white
  span
    padding: 1em
  span.selected
    background-color= !navi_selected
  span:hover
    background-color= !navi_focused
  width: 100%
  margin-bottom: 10px

#main
  background-color= !box_background
  +border
  min-height: 400px
  width: 100%
  margin-bottom: 10px

#footer
  background-color= !box_background
  +border
  width: 100%
  text-align: center

.chapter
  background-color= !box_background
  margin: 0.5em

table.cv
  border-collapse: collapse
  padding: 1em
  td
    vertical-align: top
  tr
    vertical-align: top
  td.date
    padding-right: 2em
  tr.separated
    padding: 1em
    border-bottom-style: dotted
    border-width: 1px