*
  margin: 0px
  border: 0px

!box_background = rgba(0, 50, 0, 0.5)
!navi_unselected = rgba(50, 50, 50, 0.8)
!transparent = rgba(255, 255, 255, 0.0)
!border_radius = 10px
!transparent_border = 1px "solid" rgba(255, 255, 255, 0.0)

body
  // background-image: url(/images/background3.jpg)
  background-color: lightgreen
  width: 100%

#all
  width: 750px
  min-height: 300px
  margin-left: auto
  margin-right: auto
  border: 10px solid rgba(0, 0, 0, 0)

h2.page
  text-align: center
p.page
  text-align: justify

#nav
  width: 100%
  overflow: auto
  a:hover
    color: white
  div
    background-color= !navi_unselected
    border: 1px solid rgba(255, 255, 255, 0.0)
    float: left
    padding: 8px
  div.childfirst
    margin-left: 2px
  div.parentlast, div.parentfirstlast
    margin-right: 2px
  div.current
    background-color= !box_background
    padding-bottom: 10px

#main
  width: 100%
  background-color= !box_background
  border-top-right-radius: 10px
  min-height: 400px

#footer
  width: 100%
  border-bottom-left-radius: 10px
  border-bottom-right-radius: 10px
  background-color= !box_background
  text-align: center

.chapter
  background-color= !box_background
  border-radius: 10px
  border= !transparent_border
  margin: 10px
  padding: 10px

table.cv
  border-collapse: collapse
  padding: 1em
  td
    vertical-align: top
  tr
    vertical-align: top
  td.date
    padding-right: 2em
  tr.separated
    padding: 1em
    border-bottom-style: dotted
    border-width: 1px

.basic
  width: 100%

.basic>a
  cursor: pointer
  text-align: center
  display: block
  padding: 5px
  margin-top: 0
