*
  margin: 0px
  border: 0px


!box_background = rgba(50, 50, 50, 0.5)
!navi_unselected = rgba(50, 50, 50, 0.8)
!transparent = rgba(255, 255, 255, 0.0)
!border_radius = 10px
body
  background-image: url(/images/background.jpg)
  width: 100%

#all
  width: 750px
  min-height: 300px
  margin-left: auto
  margin-right: auto
  border: 10px solid rgba(0, 0, 0, 0)

=border
  border: 1px solid rgba(255, 255, 255, 0.0)
  border-top-left-radius= !border_radius
  border-top-right-radius= !border_radius
  -moz-border-radius-topleft= !border_radius
  -moz-border-radius-topright= !border_radius

#nav
  width: 100%
  overflow: auto
  a:hover
    color: white
  div
    margin: 2px
    margin-color= !transparent
    background-color= !navi_unselected
    float: left
    padding: 0.5em
  div.child, div.parent
    border-radius: 0px
    margin-left: 0px
    margin-right: 0px
  div.childfirst, div.parentfirst
    border-top-left-radius= !border_radius
    -moz-border-radius-topleft= !border_radius
    margin-right: 0px
  div.childlast, div.parentlast
    border-top-right-radius= !border_radius
    -moz-border-radius-topright= !border_radius
    margin-left: 0px
  div.childfirstlast, div.parentfirstlast
    +border
  div.current
    +border
    position: relative
    top: 2px
    background-color= !box_background

#main
  width: 100%
  background-color= !box_background
  min-height: 400px

#footer
  width: 100%
  border-bottom-left-radius: 10px
  border-bottom-right-radius: 10px
  background-color= !box_background
  text-align: center

.chapter
  background-color= !box_background
  margin: 0.5em

table.cv
  border-collapse: collapse
  padding: 1em
  td
    vertical-align: top
  tr
    vertical-align: top
  td.date
    padding-right: 2em
  tr.separated
    padding: 1em
    border-bottom-style: dotted
    border-width: 1px