- items = @items.reject{|i|i.binary?}
- groups = items.group_by{|i|i[:title].to_s.downcase[0,1]}.sort
%ul
  - groups.each do |k,v|
    %li
      = k
      %ul
        - v.each do |i|
          %li
            = link(i)