- items = @items.reject{|i|i.binary?}
- tags = items.inject({}) do |acc, i|
  - tags = i[:tags] || []
  - tags.each do |t|
    - current = acc[t] || 0
    - acc[t] = current + 1
  - acc
- max = tags.inject(0) { |acc, p| [p[1], acc].max }
- tags = tags.inject({}) { |acc, p| acc[p[0]] = ((p[1] / Float(max)) * 10).round ; acc}
- tags.each do |key, value|
  - link = "/sitemap/tags/\##{key}"
  %a{:href=>link, :class=>"tag-#{value}"}= key

%canvas.tagCloud#tagCloud{:width=>"750px", :height=>"300px"}
  %ul
    - tags.each do |key, value|
      %li
        - link = "/sitemap/tags/\##{key}"
        %a{:href=>link, :class=>"tag-#{value}"}= key
