%p
  Having projects besides a work and private life is not always easy. It shows that one cares about something, and that one is able to deliver something in short time.
%p
  Coming from a strong java background most of my projects are based on java, some on ruby, which i like for scripting like tasks.
%p
  Have a look for yourself!
