%p
  I really love my os x compared to windows. I am not as sure about linux compared to os x. But my laptop is a small macbook ... so I use OS X.
%p
  I am dont particularly like XCode an Objective-C (although it has some cool constructs), so I have done only very view things specifically for OS-X.
