%p
  C++0x looks to scary ... so choose your weapon.
  I tried digitalmars d (now termed <a href="https://dlang.org">dlang</a>),
  because it is a rich language with lots of nice features. Also it is very
  airplane friendly in that it comes with full html documentation and even the
  sourcecode of its std library.

