%p
  Back to the Roots ... emacs ...
  check out:
  %ul
    %li
      %a{:href => 'https://github.com/gizmomogwai/emacs_tutorial'}
        Small Tutorial about emacs.
    %li
      %a{:href => 'https://github.com/gizmomogwai/gizmos_emacs_config_2'}
        My current emacs config. Subject to change :)
    %li
      %a{:href => 'https://github.com/gizmomogwai/toggle-friend-file'}
        Small Plugin to toggle between files (e.g. cpp <-> h).
