%p
  Back to the Roots ... emacs ...
  check out:
  %ul
    %li
      %a{href:  "https://github.com/gizmomogwai/org-kanban"}
        Kanban tables for org-mode.
    %li
      %a{href: "https://github.com/gizmomogwai/org-tagged"}
        Tagged tables for org-mode.
    %li
      %a
    %li
      %a{href: "https://github.com/gizmomogwai/emacs_tutorial"}
        Small Tutorial about emacs.
    %li
      %a{href: "https://github.com/gizmomogwai/gizmos_emacs_config_2"}
        My current emacs config. Subject to change :).
    %li
      %a{href: "https://github.com/gizmomogwai/tff"}
        tff - a small Plugin to toggle between files (e.g. *.h -> *.cpp -> *_test.cpp)
    %li
      %a{href: "https://github.com/gizmomogwai/bake-mode"}<
        bake-mode
      &nbsp;- a poor mans major mode for bake's
      %a{href: "https://github.com/esrlabs/bake"}
        Project.meta
      files.
