%p
  Back to the Roots ... emacs ...
  check out:
  %ul
    %li
      %a{:href => 'https://github.com/gizmomogwai/emacs_tutorial'}
        Small Tutorial about emacs.
    %li
      %a{:href => 'https://github.com/gizmomogwai/gizmos_emacs_config_2'}
        My current emacs config. Subject to change :).
    %li
      %a{:href => 'https://github.com/gizmomogwai/tff'}
        tff - a small Plugin to toggle between files (e.g. *.h -> *.cpp -> *_test.cpp)
    %li
      %a{:href => 'https://github.com/gizmomogwai/bake-mode'}<
        bake-mode
      &nbsp;- a poor mans major mode for bake's
      %a{:href => "https://github.com/esrlabs/bake"}
        Project.meta
      files.
    %li
      Right now I am trying to switch from terminals like Terminal.app or gnome-terminal to one of the emacs built in terminal emulators. There are several (shell, term, ansi-term, multi-term, eshell). First of all, here are my requirements:
      %ul
        %li
          I want to select/copy/paste text with the keyboard, and the keyboard alone.
        %li
          I want to use fzf.
        %li
          I want to have my usual terminal navigations, including arrow up for history, tab for completion, ...
        %li
          I need a clear scrollback.
          
