%p
  Everybody today uses opensource, so its only fair to collaborate
  %ul
    %li
      %a{:href => 'https://issuetracker.google.com/issues/36923403#comment3'}
      Bugreport for androids opengl matrix rotations.
        
