%a.header Story
%div.chapter
  %p
    I did not get protobuf ... So I thought:
    %ul
      %li Learn a little about the protobuf internals.
      %li See how to generate source with d.
      %li Use the parser combinator library to implement a not so minimal parser example.
      %li And create a useful library to interact with the rest of the world.
    All at the same time.
%a.header Implementation
%div.chapter
  %p
    The project consists of several parts:
    %ul
      %li some small helper classes that are kind of a runtime for the generated sources.
      %li some tests written in java to generate protobuf files which are used to check the results from the generator.
      %li the compiler itself (it is implemented by first writing a parser from scratch (I know ... dont do this at home and use the protobuf parser)).
      %li integration tests, that use the java-references to check if everything is compatible.
  %p
    Please check the d examples in compiler/tests (e.g. the canonical addressbook tests for the generated api).
%a.header Restrictions
%div.chapter
  %p
    Neither the service part nor the extension part is currently implemented.
%a.header Sources
%div.chapter
  The sources are located in my private assembla repository. Feel free to contact me if you want to try them out.
