%div.basic#accordion
  %a.header Story
  %div.chapter
    %p
      A new colleage at the office introduced us to the hobby of&nbsp;
      %a{:href=>"http://www.geocaching.com"}<>
        geocaching
      &nbsp;. Approximately at the same time, the first google dev phone got available. We both jumped onto the waggon and found the g1 to be a perfekt fit for paperless geocaching, with the one problem of no good geocaching application for the device.
    %p
      Thats the story behind the cacher. The development got very busy towards the adc2 and we managed to get a comfortable app working.
    %p
      Now the cacher has its own space at %a{:href=>"http://www.tumblr.com/cacher"} and a solid userbase of 30 :-).
  %a.header Implementation
  %div.chapter
    %p
      We tried to implement the cacher in the most android like way we knew. So it uses or has support for:
      %ul
        %li Contentprovider for the locally stored geocaches.
        %li Support for live folders (mapped to the tags you add to the geocaches).
        %li Support for the quicksearch functionality of android.
        %li Integrates with the barcode application to provide a way of sharing geocaches or the cacher himself with friends.
        %li Gallery for each geocache, that is stored in the normal android picture gallery.
        %li Naturally lots of maps, compass and gps functionality.
  %a.header Sources
  %div.chapter
    The sources are located in my private svn repository which i access with git.
  / %a.header Screens
  / %div.chapter
  /  hier kommen noch ein paar screenshots
