%table
  %tr
    %td{:rowspan => "6"}
      %img{:width => '200px', :height => '200px', :src => 'portrait.jpg'}
    %td Date and place of birth:
    %td 1974-07-25, Freising, Germany
  %tr
    %td Nationality:
    %td German
  %tr
    %td Email:
    %td
      %a{:href=>'mailto:christian.koestlin@gmail.com'} christian.koestlin@gmail.com
  %tr
    %td Web:
    %td
      %a{:href=>'https://gizmomogwai.github.com'} https://gizmomogwai.github.com
  %tr
    %td Address
    %td
      %a{:href=>'https://plus.codes/8FWH3GRM+J8'} plus code<br />
      %a{:href=>'https://www.google.com/maps/place/Carola-Neher-Stra%C3%9Fe+10,+81379+M%C3%BCnchen'} google maps<br />
      %a{:href=>'https://www.google.com/maps/place/Carola-Neher-Stra%C3%9Fe+10,+81379+M%C3%BCnchen'} osm<br />
%a.header Preferrences
%div.chapter
  %ul
    %li <a href="https://ruby-lang.org">ruby</a>, <a href="https://dlang.org">dlang</a>, <a href="https://java.oracle.com">java</a>, <a href="http://www.cplusplus.com/reference/">c++</a>
    %li <a href="https://www.gnu.org/software/emacs/">emacs</a>, <a href="https://www.jetbrains.com/idea/">intellij idea</a>, <a href="https://code.visualstudio.com/">visual studio code</a>
    %li plugins, android
    %li <a href="https://git-scm.com/">git</a>, <a href="https://www.gerritcodereview.com/">gerrit</a>, <a href="https://github.com/">github</a>
    %li <a href="https://travis-ci.org/">travis</a>, <a href="https://jenkins.io/">jenkins</a>, <a href="https://concourse.ci/">concourse</a>
    %li gc, ref-counting, raii, new/delete
    %li <a href="https://github.com/ruby/rake">rake</a>, <a href="https://www.gnu.org/software/make/">make</a>, <a href="https://cmake.org">cmake</a>
    %li <a href="https://www.apple.com/macos">OSX</a>, <a href="https://ubuntu.com">Linux</a>, <a href="http://www.minix3.org/">Minix</a>
    %li <a href="https://www.docker.com/">docker</a>, <a href="https://www.vagrantup.com/">vagrant</a>
%a.header Career
%div.chapter
  %table.cv
    %tr.separated
      %td.date <span>2012-04</span><br />&nbsp;&nbsp;&nbsp;&nbsp;<span>-to-date</span>
      %td
        %a{:href => 'http://esrlabs.com'} E.S.R.Labs AG, Munich, Germany
        %p Software Developer
        %p Design and implementation of software in the automotive sector.
        %p Android.
    %tr.separated
      %td.date <span>2011-05</span><br />&nbsp;&nbsp;&nbsp;&nbsp;<span>-2012-03</span>
      %td
        %a{:href => 'http://lear.com'} LEAR Corporation, Munich, Germany
        %p Software Developer
        %p Design and implementation of software in the automotive sector.
        %p Android.
    %tr.separated
      %td.date <span>2004-02</span><br />&nbsp;&nbsp;&nbsp;&nbsp;<span>-2004-03</span>
      %td
        %a{:href => 'http://www.eclipse.org'} Eclipse.org, Zurich, IBM-ResearchLabs, Switzerland
        %p Developer Exchange
        %p
          Working with the eclipse team to get introduced to their software process and software development practices.
          %ul
            %li enhanced the nls-plugin
            %li prototype of an osx .app exporter
    %tr.separated
      %td.date <span>2002-01</span><br />&nbsp;&nbsp;&nbsp;&nbsp;<span>-2011-04</span>
      %td
        %a{:href => 'http://www.bmw-carit.de'} BMW CarIT GmbH, Munich, Germany
        %p Software Developer
        %p Design and implementation of software in the automotive sector.
    %tr.separated
      %td.date 1999-01<br />&nbsp;&nbsp;&nbsp;&nbsp;-2001-12
      %td
        %a{:href => 'http://www.vivatech.de'} Vivatech, Karlsruhe, Germany
        %p Software Developer
        %p
          %ul
            %li
              vinmanager - ui control for a multiscreensystem (
              %a{:href => 'http://java.oracle.com'} java
              )
            %li
              geosat - 3d visualisation of satellite orbits (java3d - no proper link available)
            %li developer in the wavestream project - a streaming solution for heightfields and textures (c++)
    %tr.separated_last
      %td.date 1998-01<br />&nbsp;&nbsp;&nbsp;&nbsp;-1998-12
      %td
        %p RESource Programmierservice und EDV-Vertrieb GmbH, Karlsruhe, Germany
        %p Software Developer
        %p
          %ul
            %li interest calculator applet as component for a lotus notes based cms (java)
            %li gerty (web based domain administration for denic, c++)
%a.header Education
%div.chapter
  %table.cv
    %tr.separated
      %td.date 1998<br />&nbsp;&nbsp;&nbsp;-2001
      %td
        %p
          %a{:href => "http://www.uni-karlsruhe.de"} Universit&auml;t Karlsruhe (TH)
        %p
          %a.block{:href => "Diplom.pdf"} Abschlu&szlig;: Diplominformatiker (1.7)
    %tr.separated
      %td.date 1994<br />&nbsp;&nbsp;&nbsp;-1996
      %td
        %p
          %a{:href => "http://www.uni-karlsruhe.de"} Universit&auml;t Karlsruhe (TH)
        %p
          %a{:href => "Vordiplom.pdf"} Abschlu&szlig;: Vordiplom (befriedigend)
    %tr.separated
      %td.date 1987<br />&nbsp;&nbsp;&nbsp;-1993
      %td
        %p
          %a{:href => "http://www.hzg.sig.bw.schule.de"} Hohenzollern Gymnasium, Sigmaringen
        %p
          %a{:href => "Abitur.pdf"} Abschlu&szlig;: Abitur (1.7)
    %tr.separated
      %td.date 1984<br />&nbsp;&nbsp;&nbsp;-1987
      %td
        %a{:href => "http://www.gym-st-wolfhelm.de"} St. Wolfhelm Gymnasium, Schwalmtal
    %tr.separated
      %td.date 1984
      %td Deutsche Schule Budel
    %tr.separated_last
      %td.date 1980<br />&nbsp;&nbsp;&nbsp;-1984
      %td
        Grundschule F&uuml;rstenfeldbruck West
