%table
  %tr
    %td{:rowspan => "6"}
      %img{:width => '200px', :height => '200px', :src => 'portrait.jpg'}
    %td Date and place of birth:
    %td 1974-07-25, Freising, Germany
  %tr
    %td Nationality:
    %td German
  %tr
    %td Email:
    %td
      %a{:href=>'mailto:christian.koestlin@gmail.com'} christian.koestlin@gmail.com
  %tr
    %td Web:
    %td
      // %a{:href=>'http://gizmomogwai.dyndns.org/~gizmo'} http://gizmomogwai.dyndns.org/~gizmo
      %a{:href=>'http://gizmomogwai.github.com'} http://gizmomogwai.github.com
%a.header Preferrences
%div.chapter
  %ul
    %li ruby, d, java, c++
    %li emacs, intellij idea, eclipse, xcode, visual studio
    %li plugins, android
    %li git, svn
    %li gc, ref-counting, riia, new/delete
    %li rake, make, cmake
%a.header Career
%div.chapter
  %table.cv
    %tr.separated
      %td.date <span>2012-04</span><br />&nbsp;&nbsp;&nbsp;&nbsp;<span>-to-date</span>
      %td
        %a{:href => 'http://esrlabs.com'} E.S.R. Labs GmbH, Munich, Germany
        %p Software Developer
        %p Design and implementation of software in the automotive sector.
        %p Android.
    %tr.separated
      %td.date <span>2011-05</span><br />&nbsp;&nbsp;&nbsp;&nbsp;<span>-2012-03</span>
      %td
        %a{:href => 'http://lear.com'} LEAR Corporation, Munich, Germany
        %p Software Developer
        %p Design and implementation of software in the automotive sector.
        %p Android.
    %tr.separated
      %td.date <span>2002-01</span><br />&nbsp;&nbsp;&nbsp;&nbsp;<span>-2011-04</span>
      %td
        %a{:href => 'http://www.bmw-carit.de'} BMW CarIT GmbH, Munich, Germany
        %p Software Developer
        %p Design and implementation of software in the automotive sector.
    %tr.separated
      %td.date <span>2004-02</span><br />&nbsp;&nbsp;&nbsp;&nbsp;<span>-2004-03</span>
      %td
        %a{:href => 'http://www.eclipse.org'} Eclipse.org, Zurich, IBM-ResearchLabs, Switzerland
        %p Developer Exchange
        %p
          Working with the eclipse team to get introduced to their software process and software development practices.
          %ul
            %li enhanced the nls-plugin
            %li prototype of an osx .app exporter
    %tr.separated
      %td.date 1999-01<br />&nbsp;&nbsp;&nbsp;&nbsp;-2001-12
      %td
        %a{:href => 'http://www.vivatech.de'} Vivatech, Karlsruhe, Germany
        %p Software Developer
        %p
          %ul
            %li
              vinmanager - ui control for a multiscreensystem (
              %a{:href => 'http://java.sun.com'} java
              )
            %li
              geosat - 3d visualisation of satellite orbits (
              %a{:href => 'https://java3d.dev.java.net/'}java3d
              )
            %li developer in the wavestream project - a streaming solution for heightfields and textures (c++)
    %tr.separated_last
      %td.date 1998-01<br />&nbsp;&nbsp;&nbsp;&nbsp;-1998-12
      %td
        %p RESource Programmierservice und EDV-Vertrieb GmbH, Karlsruhe, Germany
        %p Software Developer
        %p
          %ul
            %li interest calculator applet as component for a lotus notes based cms (java)
            %li gerty (web based domain administration for denic, c++)
%a.header Education
%div.chapter
  %table.cv
    %tr.separated
      %td.date 1998<br />&nbsp;&nbsp;&nbsp;-2001
      %td
        %p
          %a{:href => "http://www.uni-karlsruhe.de"} Universit&auml;t Karlsruhe (TH)
        %p
          %a.block{:href => "/cv/Diplom.pdf"} Abschlu&szlig;: Diplominformatiker (1.7)
    %tr.separated
      %td.date 1994<br />&nbsp;&nbsp;&nbsp;-1996
      %td
        %p
          %a{:href => "http://www.uni-karlsruhe.de"} Universit&auml;t Karlsruhe (TH)
        %p
          %a{:href => "/cv/Vordiplom.pdf"} Abschlu&szlig;: Vordiplom (befriedigend)
    %tr.separated
      %td.date 1987<br />&nbsp;&nbsp;&nbsp;-1993
      %td
        %p
          %a{:href => "http://www.hzg.sig.bw.schule.de"} Hohenzollern Gymnasium, Sigmaringen
        %p
          %a{:href => "/cv/Abitur.pdf"} Abschlu&szlig;: Abitur (1.7)
    %tr.separated
      %td.date 1984<br />&nbsp;&nbsp;&nbsp;-1987
      %td
        %a{:href => "http://www.gym-st-wolfhelm.de"} St. Wolfhelm Gymnasium, Schwalmtal
    %tr.separated
      %td.date 1984
      %td Deutsche Schule Budel
    %tr.separated_last
      %td.date 1980<br />&nbsp;&nbsp;&nbsp;-1984
      %td
        Grundschule F&uuml;rstenfeldbruck West
