%p
  Here you can download all relevant documents, references and certificates in printer friendly versions.
%ul
  %li
    Reference Letter BMW-CarIT
    %a{:href=>'../cv/BMWCarIT1.png'} 1
    %a{:href=>'../cv/BMWCarIT2.png'} 2
  / %li
  /  %a{:href=>'Thesis.pdf'} Thesis
  %li
    %a{:href=>'../cv/Diplom.pdf'} Diplom
  %li
    %a{:href=>'../cv/Vordiplom.pdf'} Vordiplom
  %li
    %a{:href=>'../cv/Abitur.pdf'} Abitur
  %li
    %a{:href=>'../cv/BmwFuehrerschein.pdf'} BMW F&uuml;hrerschein
