%a.header Install android tooling
%div.chapter
  %p
    Whenever I return to android development after half a year, I need at least one day to get decent versions of all the needed components work nicely together. This time I started from scratch:
    %ul
      %li Set ANDROID_HOME to an empty directory (e.g. ~/bin/android)
      %li Download the <a href="https://developer.android.com/studio#command-tools">command line tools</a> only
      %li <code class="lang-javascript">mkdir -p $ANDROID_HOME/cmdline-tools/latest && unzip -d $ANDROID_HOME/cmdline-tools/latest ~/Downloads/commandlinetools-mac-7302050_latest.zip</code>
      %li add $ANDROID_HOME/cmdline-tools/latest/bin, $ANDROID_HOME/platform-tools, $ANDROID_HOME/tools to the PATH
      %li run <code class="lang-javascript">sdkmanager --licenses</code> to accept all current licenses
      %li run <code class="lang-javascript">tools/bin/sdkmanager --update</code> to bring the tool itself uptodate
      %li
        %ul
          %li
            run <code class="lang-javascript">sdkmanager packages</code> to install all needed packages
          %li
            For me: <code class="lang-javascript">sdkmanager "build-tools;26.0.0" "extras;android;m2repository" "platform-tools" "platforms;android-23"</code> followed by <code class="lang-javascript">sdkmanager --uninstall emulator</code> results in around 900MB of development tools needed for one of my current apps.
      %li Download the newest intellij (I use the jetbrains toolbox) and start a new android project there
  %p
    To get the best results I use almost always the latest stable versions. Only take rc's, betas, ... if you know exactly what you are doing. Most of the time you have to update them quite soon.
%a.header Versioning
%div.chapter
  %p
    As all sources are in git, I suggest to use the following scheme to version android. Keep the versions out of <code class="lang-javascrip">AndroidManifest.xml</code> and put them instead into build.gradle. Manage <code class="lang-javascript">versionCode</code> manually (or automate this in a release script), generate <code class="lang-javascript">versionName</code> by <code class="lang-javascript">git describe --dirty</code>. For git describe to work always, there has to be a tag in the repository. It does not work on a repository without tags.
  %p
    Minimal snippet of build.gradle to get this working:
  %pre
    %code.lang-groovy
      :preserve
        ...
        android {
          defaultConfig {
            versionCode 2
            versionName "git describe --dirty".execute().text.trim();
          }
        ...

%a.header Module structure
%div.chapter
  %p
    I suggest to divide the app into one part purely java and unit test this extensively, and another part that does all the android and ui specific glue code. In the best case this should not be too much on top of the real business logic.
  %p
    settings.gradle -
    just pulls in all the modules
  %pre
    %code.lang-groovy
      :preserve
        include ':lib'
        include ':app'
  %p
    lib/build.gradle -
    normal java project with 1.7 compatibility
  %pre
    %code.lang-groovy
      :preserve
        ...
        sourceCompatibility = 1.7
        targetCompatibility = 1.7
        ...
  %p
    app/build.gradle This is the most tricky one, I will go through step by step
  %p
    Android build tools are needed for the buildscript itself (this must be fitting for intellij's and gradle's versions):
  %pre
    %code.lang-groovy
      :preserve
        ...
        buildscript {
          repositories {
            jcenter()
            mavenCentral()
          }
          dependencies {
            classpath 'com.android.tools.build:gradle:2.3.3'
          }
        }
        apply plugin: 'com.android.application'
        ...
  %p
    Pull in your libs:
  %pre
    %code.lang-groovy
      :preserve
        ...
        dependencies {
          compile ...
          annotationProcessor ...
          compile project(':lib')
        }
        ...
  %p
%a.header Unit-Testing
%div.chapter
  %p
    Because of the separation it is possible to do a lot of work with normal unit-tests. I did not look into android unit-testing in the last years, but it is supposed to be more evolved than to the android 1.0 time. Still I prefer to test as much as possible with normal junit tests. These are my settings for normal java modules:
  %pre
    %code.lang-groovy
      :preserve
        ...
        test {
          testLogging {
            showStandardStreams = true
            exceptionFormat = 'full'
          }
        }
        apply plugin: 'jacoco'
        jacocoTestReport {
          reports {
            html.enabled = true
            xml.enabled = true
            csv.enabled false
          }
        }
        check.dependsOn jacocoTestReport
        ...
  %p
    For android modules I have this in place:
    %pre
      %code.lang-groovy
        :preserve
          ...
          android {
            testOptions.unitTests.all {
              testLogging {
              events 'passed', 'skipped', 'failed', 'standardOut', 'standardError'
            }
          }
          ...
%a.header Distinguing between debug and release versions
%div.chapter
  %p
    the gradle android build is very sophisticated in producing different flavors and whatnot of the application. For simple application it is important to know, that you can deploy several versions to the target at the same time (e.g. one debug and one release version). To make it more easy to distinguing between them its possible to do adjustments like this in app/build.gradle:
  %pre
    %code.lang-groovy
      :preserve
        ...
        android {
          buildTypes {
            release {
              applicationIdSuffix ".release"
              resValue "string", "app_name", "Appname"
            }
            debug {
              applicationIdSuffix ".debug"
              resValue "string", "app_name", "Appname-Debug"
            }
          }
        ...
%a.header Release to play-store
%div.chapter
  %p
    Prerequisites:
    %ul
      %li
        Various artwork
      %li
        Keystore for signing the apk. I suggest you use the <a href="https://developer.android.com/studio/publish/app-signing.html">Google Play App Signing</a>. There google creates and keeps a certificate for signing apps that you upload with your upload certificate. In case you loose the upload certificate, you can revoke this and put a new one to google play.
  %p
    Put the signing into gradle like described on the google page. The only twist I use is to store the password in the keychain/ring:
  %pre
    %code.lang-groovy
      :preserve
        ...
        // from http://stackoverflow.com/a/22597752
        def passwordFromKeychain = { name ->
          return "security find-generic-password -s ${name} -a ${name} -w".execute().text.trim();
        }
        android {
          signingConfigs {
            release {
              // just add a new password with appname-play-store, appname-play-store and password in keychain on osx
              storeFile file("store/release.keystore")
              storePassword passwordFromKeychain("appname-play-store")
              keyAlias "appname"
              keyPassword passwordFromKeychain("appname-play-store")
            }
          }
          buildTypes {
            release {
              signingConfig signingConfigs.release
        ...
