body {
    background-color: lightgrey;
}

hr {
    clear: both;
}

#nav a {
    color: black;
    background-color: lightgrey;
}

#nav a:hover {
    color: white;
    background-color: darkgrey;
}

#nav * {
    padding: 1em;
    float: left;
    padding: 5px;
    margin: 5px;
}

#nav div.selected {
    background-color: grey;
    color: white;
}

#footer {
    clear: both;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#all {
    width: 750px;
    margin: auto;
}

#main {
  clear: both;
}


#footer #mtime {
    text-align: right;
}

div.intro img {
    float: left;
    height: 152px;
}

div.intro table td {
    padding-right: 0.5em;
}

div.intro table {
    float: clear;
}

table.cv {
    border-collapse: collapse;
}

table.cv td {
    vertical-align: top;
    padding: 1em;
}

table.cv tr {
    vertical-align: top;
    padding: 1em;
}

table.cv td.date {
    padding-right: 2em;
}

table.cv tr.separated {
  border-bottom-style: dotted;
  border-width: 1px;
}

tr.separated_last {
}
