%html
  %head
    %title= "\"#{@item[:title]}\""
    %script{:type=>"text/javascript", :src=>"/jquery-1.4.1.min.js"}
    %link{:rel=>"stylesheet", :type=>"text/css", :href=>"/assets/styles/style.css"}
  %body
    %div#all
      %div#nav<
        - print_parents(@item, @items) do |i|
          %div<>= link_to(i[:title], i.identifier)
        %div.selected= @item[:title]
        - @item.children.each do |child|
          %div<>= link_to(child[:title], child.reps[0])
      %div#main= yield
      %div#footer= "last modified: #{@item.mtime.strftime('%Y-%m-%d')}"
