%html
  %head
    %title= "\"#{@item[:title]}\""
    %script{:type=>"text/javascript", :src=>"/jquery-1.4.1.min.js"}
    %link{:rel=>"stylesheet", :type=>"text/css", :href=>"/assets/styles/style.css"}
  %body
    %div#all
      %div#nav<
        - print_parents(@item, @items, 'first', 'last') do |i, context|
          %div{:class=>"#{context}"}
            %a{:href=>"#{i.identifier}"}<>= "#{i[:title]}"
        %div.current= @item[:title]
        - do_collection(@item.children, 'child', 'first', 'last') do |child, context|
          %div{:class=>"#{context}"}
            %a{:href=>"#{child.reps[0].path}"}<>= "#{child[:title]}"
      %div#main= yield
      %div#footer= "last modified: #{@item.mtime.strftime('%Y-%m-%d')}"
