%a.header Story
%div.chapter
  %p
    I am a little dazzled why there are so few eclipse plugins that complement the adt-plugin. I have only done very small android projects, but there I felt already the need for some more help from the ide:
    %ul
      %li e.g. a codegenerator for contentproviders based on something like the rails model descriptions would be a huge improvement (one guy from the androidvnc project has done something like this).
      %li adding to the contentprovider field a tool for migrations would be really good.
      %li you always need help with internationalization.
    Right now the adt-helper plugin only provides a helper to get the translations of your strings.xml files right. Perhaps more to come :)
%a.header Implementation
%div.chapter
  %p
    Again I choose the html-java hybrid programming model (mainly because i wanted to tryout the html-widgets as they are provided by swt). Read more about the fun of mixing html into your application at the <a href="../../android/regexer">regexer</a>
%a.header Sources
%div.chapter
  The sources are located in my private svn repository, which i access with git.
= screenshots(@item)

