%a.header Story
%div.chapter
  %p
    Everyone need some kind of a homepage. This is mine.
%a.header Technologies
%div.chapter
  %p
    I wanted to use my favourite technologies, so this is the list of stuff used here:
    %ul
      %li <a href="http://nanoc.stoneship.org/">nanoc3</a> - for static site generation.
      %li <a href="http://haml-lang.com">haml</a> - as html-template engine.
      %li <a href="http://sass-lang.com">sass</a> - as css-helper.
      %li <a href="http://git-scm.com">git</a> - as version control system.
      %li <a href="http://pages.github.com">github:pages</a> - as host.
%a.header Sources
%div.chapter
  The sources are located in a public <a href="https://github.com/gizmomogwai/www.flopcode.com">repository</a> at github.
%a.header Screenshots
%div.chapter
  If you are reading this, then you don't need screenshots :).
